<div id={@id}>

<table>
<tbody >
    <%= for employee <- @employees do %>                                                        
      <tr id={"employee-#{employee.id}"}>    
        <td><%= employee.name %></td>    
        <td>    
          <span><%= live_patch "Edit", to: Routes.employee_index_path(@socket, :edit, employee, return_to: @return_to) %></span>

          <span>
          </span>

        </td>    
      </tr>    
    <% end %>    
  </tbody>    
</table>


</div>
